ion-content{
    font-family: poppins, sans-serif;
}

mat-accordion{
   
    mat-panel-title{
        font-family: poppins, sans-serif;
        color:  #2464d4;
    }
}

.faq-title{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: poppins, sans-serif;
}