

 <ion-header>
  <ion-toolbar class="header">
    <ion-title>Account Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="account-settings-container">
    <div class="location-change" [hidden]="user.accountType != 'buisness'">
      <h3 class="subtitle">Change Buisness Location</h3>

    </div>
    <div class="delete-account">
      <h3 class="subtitle">Delete Account</h3>
      <p>Caution: this action will delete your profile data and all of your user data from the app.</p>
      <ion-button>
        <ion-icon>delete</ion-icon>
        Delete
      </ion-button>
    </div>
  </div>
</ion-content>