ion-content{
    .subtitle{
        text-align: left;
        font-size: 1.4rem;
        margin-left: 1.2rem;
        font-family: poppins, sans-serif;
        width: 90%;
        margin-top: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid gray;
    }
}