<!-- <ion-header translucent>
  <ion-toolbar>
    <ion-title>Create a Post</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-buttons slot="start">
      <!-- <ion-back-button (click)="navigate('profile')" routerDirection="root"></ion-back-button> -->
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title class="nav-title">Create Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1>Hello World</h1>
</ion-content>