<div class="foodbanks">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Deals4Meals</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="foodbanks" class="choices">
        <ion-segment-button value="deals" (click)="toggleShowFoodbanks()">
          <ion-label>Deals</ion-label>
        </ion-segment-button>
        <ion-segment-button value="foodbanks" checked (click)="toggleShowFoodbanks()">
          <ion-label>Food Banks Near Me</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data…">
        <div class="foodbanks" *ngIf="showFoodbanks">
          <div class="foodbank" *ngFor="let foodbank of foodbanks">
            <ion-card>
              <img src={{foodbank.photoURL}} />
              <ion-card-header>
                <ion-card-subtitle>{{foodbank.location}}</ion-card-subtitle>
                <ion-card-title>{{foodbank.name}}</ion-card-title>
              </ion-card-header>
              <!-- <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
              </ion-card-content> -->
            </ion-card>
          </div>
      
        <div class="deals" *ngIf="!showFoodbanks">
          <div class="foodbank" *ngFor="let deal of deals">
            <ion-card>
              <img src={{foodbank.photoURL}} />
              <ion-card-header>
                <ion-card-subtitle>{{foodbank.location}}</ion-card-subtitle>
                <ion-card-title>{{foodbank.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>
          </div>
          <h1>Some Deals Here</h1>
        </div>
      
      </div>
      
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>


<app-bottom-bar></app-bottom-bar>   
