<div class="foodbanks">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Deals4Meals</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="foodbanks" class="choices">
        <ion-segment-button value="deals" (click)="toggleShowFoodbanks()">
          <ion-label>Deals</ion-label>
        </ion-segment-button>
        <ion-segment-button value="foodbanks" checked (click)="toggleShowFoodbanks()">
          <ion-label>Food Banks Near Me</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data…">
        <div class="foodbanks" *ngIf="showFoodbanks">
          <div class="foodbank" *ngFor="let foodbank of foodbanks" (click)="openBuisness(foodbank)">

            <div class="card">
              <div class="photo">
                <img src={{foodbank.photoURL}}>
              </div>
              <div class="description">
                <h2>{{foodbank.accountType}}</h2>
                <h4>{{foodbank.name}}</h4>
                <p>Located at {{foodbank.location}}</p>
            
              </div>
            </div>
            
          </div>
      </div>

      <div class="loading-foodbanks" [hidden]="!loadingFoodbanks">
        <div class="foodbank" *ngFor="let post of loadPosts">
          <ion-card>
            <ion-skeleton-text animated class="skeleton-image" style="height: 25vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-header>
            <!-- TODO: only get a small portion of description -->
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card>
        </div>
      </div>

      <div class="deals" *ngIf="!showFoodbanks">
        <div class="foodbank" *ngFor="let deal of loadDeals">
          <ion-card>
            <img src={{deal.deal.images[0]}} [hidden]="!deal.showImage" (load)="deal.showImage = true"/>
            <ion-skeleton-text animated class="skeleton-image" style="height: 25vh;" [hidden]="deal.showImage"></ion-skeleton-text>
            <ion-card-header>
              <ion-card-subtitle>{{deal.deal.userProfile.email}}</ion-card-subtitle>
              <ion-card-title>{{deal.deal.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
             {{deal.deal.description}}
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="loading-deals" [hidden]="!loadingDeals">
        <div class="foodbank" *ngFor="let post of loadPosts">
          <ion-card>
            <ion-skeleton-text animated class="skeleton-image" style="height: 25vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-header>
            <!-- TODO: only get a small portion of description -->
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card>
        </div>
      </div>
      
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>


<app-bottom-bar></app-bottom-bar>   
