<div class="foodbanks">
  <ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- TODO: restyle skeletons on page -->

  <ion-content class="content">
    <div class="main-buisnesss-content">

      <div class="general-section">
        <h3 [hidden]="(!loadingBuisnesses && buisnesses.length == 0)" class="near-you">Locations Near You</h3>
        <div class="foodbanks-section">
          <div class="foodbanks" [hidden]="loadingBuisnesses">
            <div class="foodbank" *ngFor="let foodbank of buisnesses"
              (click)="openBuisness(foodbank)">
              <ion-item>
                <ion-thumbnail slot="start" style="background-color: rgb(192, 184, 184);">
                  <img src={{foodbank.photoURL}} loading="lazy">
                </ion-thumbnail>
                <ion-label>
                  <h3>{{foodbank.name}}</h3>
                  <p>{{getLocation(foodbank.location)}}</p>
                  <p>{{getSubLocation(foodbank.location)}}</p>
                </ion-label>
              </ion-item>
            </div>

            <div class="no-deals" [hidden]="buisnesses.length != 0"
              style="text-align: center;">
              <h2 style="margin-top: 1rem;">No Buisnesses Found!</h2>
              <p style="font-size: 1rem;">Please check another time to find buisnesses near you.</p>
            </div>

          </div>

          <div class="loading-foodbanks" [hidden]="!loadingBuisnesses">
            <div class="foodbank" *ngFor="let post of [1,2,3,4,5]">
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </div>
          </div>

          <ion-infinite-scroll *ngIf="loadingBuisnesses">
            <ion-infinite-scroll-content loadingSpinner="crescent">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>

      </div>

    </div>

  </ion-content>

  <app-bottom-bar></app-bottom-bar>