<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div class="entire">
    <div class="top">
      <img src={{buisness.photoURL}} alt="Buisness Image" class="profile-image">
      <h1 class="name">{{buisness.name}}</h1>
      <h3 class="location">{{displayLocation}}</h3>
      <button mat-button class="message-button">Send Message</button>
    </div>
  
    <div class="bottom">
      <mat-tab-group>
        <mat-tab label="DEALS">
          <div class="posts">
            <ion-card *ngFor="let post of posts" (click)="presentPost(post)">
              <img src={{post.images[0]}} />
              <ion-card-header>
                <ion-card-title>{{post.title}}</ion-card-title>
              </ion-card-header>
              <!-- TODO: only get a small portion of description -->
              <ion-card-content>
                {{post.description}}
              </ion-card-content>
            </ion-card>
          </div>
        </mat-tab>
        <mat-tab label="ABOUT">
          <div class="about">
            <h3>Buisness Description:</h3>
            <p *ngIf="buisness.description != ''">{{buisness.description}}</p>
            <p *ngIf="buisness.description == ''">No description written yet</p>
        </div>
        </mat-tab>
        <mat-tab label="LOCATION">
          <div class="location">
            <agm-map [latitude]="buisness.location.latitude" [longitude]="buisness.location.longitude">
              <agm-marker [latitude]="buisness.location.latitude"
                      [longitude]="buisness.location.longitude"></agm-marker>
            </agm-map>
          </div>
        </mat-tab>
      </mat-tab-group>
      
    </div>
    
  </div>
</ion-content>