.header{
    color: black !important;
    background-color: white;
    --border-width: 0 0 0px !important;

    ion-icon{
        color: black;
    }
}

.mat-tab-header{
    border-bottom: 0px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label{
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label-active{
    font-weight: bold;
}

ion-content{
    .entire{
        .top{
            width: 100%;
            text-align: center;
    
            .profile-image{
                width: 10rem;
                height: 10rem;
                border: 5px solid darkblue;
                border-radius: 80px;
            }

            .location{
                text-align: center;
                margin-left: 0px;
                margin-right: 0px;
            }

            .name{
                margin-top: 1rem;
                margin-bottom: 5px;
            }

            

            .message-button{
                margin-bottom: 1rem;
                background-color: #3048d1;
                color: white;
                border: 2px solid #3048d1;
                border-radius: 10px;
            }
        }
    
        .bottom{
            text-align: center;
            margin: auto;
            width: 80%;

            .header{
                --border-width: 0 0 0px !important;
                border-bottom: 0px;
            }
            .select-row{
                display: flex;
                justify-content: space-around;
            }   
        }
    }
}