<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div class="top">
    <img src={{buisness.photoURL}} alt="Buisness Image" class="profile-image">
    <h1 class="name">{{buisness.name}}</h1>
    <!-- TODO: show location data -->
    <h3 class="location">Los Angeles, CA</h3>
    <button class="message-button">Message</button>
  </div>

  <div class="bottom">
    <div class="select-row">
      <h3 class="row-item">DEALS</h3>
      <h3 class="row-item">ABOUT</h3>
      <h3 class="row-item">LOCATION</h3>
    </div>
    <div class="content">
      <div class="posts" [hidden]="shownItem != 'posts'">

      </div>
      <div class="about" [hidden]="shownItem != 'about'">

      </div>
      <div class="location" [hidden]="shownItem != 'location'">

      </div>
    </div>
  </div>
  
</ion-content>