
<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
      <!-- TODO: make it back button -->
    </ion-buttons><ion-buttons slot="end">
      <!-- TODO: add functionality to delete and edit -->
      <ion-button (click)="dismissModal()"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
      <!-- TODO: make it back button -->
    </ion-buttons>

    <ion-title class="nav-title">View Post</ion-title>
  </ion-toolbar>
</ion-header>


<div class="main">
  <h1 class="title">{{post.title}}</h1>
  <!-- TODO: make a image gallery and skeleton for on loading -->
  <img src={{post.images[0]}} alt="Post Image" class="post-image"/>
  <!-- TODO: add location, address, and phone number + google maps location view -->
  <p class="description">{{post.description}}</p>
  <h3 class="quantity">Only {{post.amount}} left in stock</h3>
  <ion-button class="contact-button" *ngIf="!isOwner">Contact Supplier</ion-button>
  <ion-button class="contact-button" *ngIf="isOwner">Edit Post</ion-button>
  <ion-button class="delete-button" *ngIf="isOwner" color="danger" (click)="confirmDelete()">Delete Post</ion-button>

  <!-- TODO: add edit and delete functionality -->
</div>