.nav-title{
    font-weight: bold;
}

.header{
    color: white;
    background-color: #5979E9;
}

.form{
    position: absolute;
    top: 10%;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.header{
    background-color: #4078e1;
    color: white;
}

input{
    width: 80%;
    height: 2rem;
    border-radius: 7px;
    border-color: transparent;
    background-color: #e3e4f9;
    border: 1px solid #4043e1;
}

.post-image{
    width: 80%;
    border-radius: 10px;
    height: 14rem;
    border: 3px solid blue;
}

.main{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 15%;
    text-align: center;
}

.title{
    font-weight: bold;
}

.description{
    margin-top: 1rem;
}

.quantity{
    font-weight: bold;
    color: #4f9ef3;
}


.contact-button{
    width: 80%;
    margin: auto;
    --background-color: #5979E9 !important;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    --border-radius: 10px;
  }

  .delete-button{
    width: 80%;
    margin: auto;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    --border-radius: 10px;
  }

