mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
}

.selected-color{
    background-color: white !important;
    color: #3fa7b5 !important;
    border: 2px solid !important;
}