.send-email-dialog{
    .title{
        font-weight: bold;
        color: #3880ff;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    h4{
        font-weight: bold;
        margin-bottom: 8px;
    }

    textarea{
        width: 100%;
        border-radius: 0px;
        border-color: #a1a4b5;
        resize: vertical;
    }

    .chars-remain{
        text-align: right;
        color: #757373;
    }

    .send-button{
        width: 100%;
        background-color: #3880ff;
        color: white;
        height: 2rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .cancel-button{
        width: 100%;
        background-color: white;
        color: gray;
        font-weight: bold;
    }

    .loading-screen{
        .sending-spinner{
            color: #3880ff;
            text-align: center;

            ion-spinner {
                transform: scale(3);
                margin-top: 2rem;
            }

            h3{
                margin-top: 3rem;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
        
    }

    .complete-screen{
        text-align: center;
        .check-logo{
            font-size: 4rem;
            margin-bottom: 1.3rem;
            color: #3880ff;
        }

        h3{
            font-weight: bold;
            font-size: 1.5rem;
        }

        p{
            margin-bottom: 2rem;
            font-size: 1rem;
        }

        .back-to-app{
            width: 80%;
            outline: none;
            height: 2rem;
            background: #3880ff;
            font-weight: bold;
            color: white;
            font-size: 1.2rem;
            border-radius: 10px;
        }
    }
}