<div class="send-email-dialog">
  <div class="main-message-content" [hidden]="loading || complete">
    <h3 class="title">Send Message</h3>
    <h4>TO: {{data.buisness.email}}</h4>
    <h4>MESSAGE</h4>
    <textarea cols="30" rows="10" [(ngModel)]="message" maxlength="2000">
    </textarea>
    <p class="chars-remain">{{message.length}} / 2000</p>
    <button class="send-button" (click)="sendEmail()">SEND</button>
    <button class="cancel-button" mat-dialog-close>CANCEL</button>
  </div>
  
  <div class="loading-screen" [hidden]="!loading">
    <div class="sending-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <h3>Sending Message...</h3>
    </div>
  </div>

  <div class="complete-screen" [hidden]="!complete">
    <div class="completed">
      <div class="check-logo">
        <ion-icon name="checkmark-outline"></ion-icon>
      </div>
      <h3>Congrats!</h3>
      <p>Your message was successfully sent!</p>
      <button class="back-to-app" mat-dialog-close>Back to App</button>
    </div> 
  </div>
</div>