<ion-header>
  <ion-toolbar class="header">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigate('profile')">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="settings-form">
    <!-- Account Settings -->
    <ion-item detail (click)="navigate('profile/edit')">
      <ion-label>
        Account Settings
      </ion-label>
    </ion-item>
    <!-- Get Notifications Settings -->
    <ion-item>
      <ion-label>
        Receive Notifications
      </ion-label>
      <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
    </ion-item>
    <!-- Delete All Posts Settings -->

    <!-- Delete Account Settings -->

    <!-- Log Out Settings -->
    <ion-item (click)="logOut()">
      <ion-label>
        Log Out
      </ion-label>
    </ion-item>
  </div>
</ion-content>