<ion-content fullscreen>
  <div class="entire">
    <!-- <div class="top">
    </div> -->
    <div class="top-content">
      <div class="back-button" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <div class="profile-top">
        <div class="topDisplay">
            <img src={{buisness.photoURL}} alt="Buisness Image" class="profile-image" />
        </div>
      </div>
    </div>

    <div class="transition-info">
      <h2 class="profile-name">{{buisness.name}}</h2>
      <ion-skeleton-text animated [hidden]="buisness.name != ''"></ion-skeleton-text>
      <h2 class="profile-description">
        <span>
          {{displayLocation}}
        </span>
      </h2>
      <ion-skeleton-text animated [hidden]="displayLocation != ''"></ion-skeleton-text>
    </div>
  

    <ion-segment value="deals" [(ngModel)]="selectedIndex">
      <ion-segment-button value="deals">
        <ion-label>DEALS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="description">
        <ion-label>DESCRIPTION</ion-label>
      </ion-segment-button>
      <ion-segment-button value="location">
        <ion-label>LOCATION</ion-label>
      </ion-segment-button>
    </ion-segment>


    <div class="bottom">
          <div class="posts" [hidden]="selectedIndex != 'deals'">
            <ion-card *ngIf="posts.length == 0">
              <ion-card-header>
                <ion-card-title class="card-title">Buisness has not created any deals yet!</ion-card-title>
                <ion-card-subtitle class="card-subtitle">Please check at another time for more deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>

            <div class="top-deal-display" [hidden]="posts.length == 0">
              <h3 class="content-header">Recent Deals</h3>
              <button class="view-all" (click)="presentViewAllDeals()">View All</button>
            </div>

            <ion-card (click)="presentPost(post)" *ngFor="let post of previewDeals">
              <div class="card-main">
                <img src={{post.images[0]}} />

                <div class="card-content">
                  <ion-card-header>
                    <ion-card-title>{{post.title}}</ion-card-title>
                    <ion-card-subtitle>{{post.userProfile.name}}</ion-card-subtitle>
                  </ion-card-header>
                  
                  <ion-card-content>
                    {{viewDescription(post.description)}}
                  </ion-card-content>
                </div>
              </div>
            </ion-card>

          </div>


  
          <div class="about" [hidden]="selectedIndex != 'description'">
            <h3>BUISNESS DESCRIPTION:</h3>
            <p *ngIf="buisness.description != ''">{{buisness.description}}</p>
            <p *ngIf="buisness.description == ''">No description written yet</p>
        </div>
  

          <div class="location" [hidden]="selectedIndex != 'location'">
            <agm-map [latitude]="buisness.location.latitude" [longitude]="buisness.location.longitude">
              <agm-marker [latitude]="buisness.location.latitude"
                      [longitude]="buisness.location.longitude"></agm-marker>
            </agm-map>
          </div>
      
    </div>
    
  </div>
</ion-content>