@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    font-family: 'Poppins', sans-serif !important;
    width: 14rem !important;
    font-weight: bold !important;
    margin-left: 1rem !important;
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
}

.mat-horizontal-content-container{
    text-align: center;
    margin-top: 1.5rem;
}

.error{
    color: red;
}

.header{
    color: #4078e1;
    --border-width: 0px !important;
}

mat-form-field{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    width: 70vw;
    font-size: 1rem;
    height: 8vh;
}


.sign-up-form{
    margin-left: 2rem;
    margin-right: 2rem;
}