<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigate('')" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<div class="form">
  <div class="main">
    
    <p>Organization Type</p>
    <ion-checkbox color="primary">Foodbank</ion-checkbox>
    <ion-checkbox color="secondary">Grocery Store / Donater</ion-checkbox>

    <p class="content">Organization Name:</p>
    <input type="text" [(ngModel)]="name"/>
    <p class="error">{{errors.name}}</p>

    <p class="content">Email:</p>
    <input type="email" [(ngModel)]="email"/>
    <p class="error">{{errors.email}}</p>

    <p class="content">Password:</p>
    <input type="password" [(ngModel)]="password" />
    <p class="error">{{errors.password}}</p>
  </div>

  <p>{{name}}</p>
    <ion-button expand="block" color="secondary" class="sign-in-button" (click)="signUp()" [disabled]="!name || !email || !password || accountType == ''">Sign Up</ion-button>
    <p class="description">Already have an account? <a (click)="navigate('login')">Sign In.</a></p>
  </div>