@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    font-family: 'Poppins', sans-serif !important;
    width: 14rem !important;
    font-weight: bold !important;
    margin-left: 1rem !important;
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
}

.mat-horizontal-content-container{
    text-align: center;
    margin-top: 1.5rem;
}

.error{
    color: red;
}

.header{
    color: #666A86;
    --border-width: 0px !important;
    margin-bottom: 2rem;
}

ion-back-button{
   color: #7d89e0;
}

mat-form-field{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    width: 70vw;
    font-size: 1rem;
    height: 8vh;
}

.continue-button{
    background: #666A86;
    color: white !important;
    font-size: 1.1rem !important;
    border: 5px solid #666A86 !important;
    border-radius: 20px !important;
    width: 7rem !important;
    text-align: center !important;
    margin-top: 1.5rem !important;
    height: 3rem !important;
}

.back-button{
    background: #9a9db8 !important;
    border: 5px solid #9a9db8 !important;
    border-radius: 20px !important;
}

.buttons{
    display: flex;
    justify-content: space-between;
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: #666A86 !important;
}

.sign-up-form{
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
    overflow-y: scroll;
}

mat-step{
    overflow-y: scroll;
}

.location-button{
    background-color: #7d89e0 !important; 
    color: white;
    font-weight: bold;

    ion-icon{
        margin-right: 1rem;
    }
}

.hidden-map{
    background: rgba(0, 0, 0, 0) none 
}

agm-map {
    height: 300px;
}