<div class="form">
  <div class="main">
    <p>Organization Type</p>
    <ion-checkbox color="primary">Foodbank</ion-checkbox>
    <ion-checkbox color="secondary">Grocery Store / Donater</ion-checkbox>
    <p class="content">Organization Name:</p>
    <input type="text"/>
    <p class="content">Email:</p>
    <input type="text"/>
    <p class="content">Password:</p>
    <input type="text" />
  </div>
    <ion-button expand="block" color="secondary" class="sign-in-button">Sign In</ion-button>
    <p class="description">Already have an account? <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Sign In.</a></p>
  </div>