.dangerous-area{
    width: 90%;
    margin: auto;
    margin-top: 3vh;

    h3{
        margin-bottom: 8px;
        font-weight: bold;
        font-family: poppins, sans-serif;
    }

    .delete-button{
        margin-bottom: 2vh;

        ion-icon{
            margin-right: 8px;
        }
    }

}