.header{
    color: black !important;
    background-color: white;
    --border-width: 0 0 0px !important;
  
    ion-icon{
        color: black;
    }
  }


  ion-card-content{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

ion-card-header{
    padding-bottom: 5px !important;
}

  .main-contentbody{

    ion-item-sliding{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    ion-item{
       
        h3{
            margin-bottom: 5px;
        }

        p { 
            font-size: 12px; 
            line-height: 20px;
            color: #727272;
            margin: 0;
         }

        ion-thumbnail{
            height: 6rem;
            width: 6rem;
        }
    }
  }

  ion-card{
      margin-top: 0px;
      margin-bottom: 10px;
  }