.header{
    color: black !important;
    background-color: white;
    --border-width: 0 0 0px !important;
  
    ion-icon{
        color: black;
    }
  }


ion-card-header{
    padding-bottom: 5px !important;
}

  .main-contentbody{
    margin-top: 1rem;
    ion-item-sliding{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    ion-item{
       
        h3{
            margin-bottom: 5px;
        }

        p { 
            font-size: 12px; 
            line-height: 20px;
            color: #727272;
            margin: 0;
         }

        ion-thumbnail{
            height: 6rem;
            width: 6rem;
        }
    }

    ion-card{
        margin-top: 0px;
        width: 100vw;
        margin-bottom: 10px;
  
        ion-card-header{
          margin-top: 0px;
          padding-top: 0px;
        }
  
        ion-card-header{
          padding-right: 0px;
          font-size: 16px;
        }
    }
  
    ion-item-option{
        ion-icon{
            font-size: 1.3rem;
        }
    }
  }



