
<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- TODO: make it back button -->
    </ion-buttons>
    <ion-buttons slot="end" [hidden]="!isOwner">
      <ion-button (click)="presentActionSheet()"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title class="nav-title">View Deal</ion-title>
  </ion-toolbar>
</ion-header>


<div class="main">
  <h1 class="title">{{post.title | uppercase}}</h1>
  <!-- TODO: put location here -->
  <h3 class="location">Santa Monica, Los Angeles CA, 90266</h3>
  <!-- TODO: make a image gallery and skeleton for on loading -->
  <img src={{post.images[0]}} alt="Post Image" class="post-image"/>
  <!-- TODO: add location, address, and phone number + google maps location view -->
  <mat-tab-group>
    <mat-tab label="Details">
      <p class="description">{{post.description}}</p>
      
    </mat-tab>
    <mat-tab label="Location">Location</mat-tab>
  </mat-tab-group>

  <div class="bottom-section">
    <h3 class="quantity">Only {{post.amount}} left in stock</h3>
    <ion-button class="contact-button" *ngIf="!isOwner">Contact Supplier</ion-button>
  </div>
  
  <ion-button class="contact-button" *ngIf="isOwner" (click)="editPost()">Edit Post</ion-button>
  <ion-button class="delete-button" *ngIf="isOwner" color="danger" (click)="confirmDelete()">Delete Post</ion-button>

  <!-- TODO: add edit and delete functionality -->
</div>