@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.nav-title{
    font-weight: bold;
}

.header{
    color: black !important;
    background-color: white;
    --border-width: 0 0 0px !important;

    ion-icon{
        color: black;
    }
}

.form{
    position: absolute;
    top: 10%;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
}


input{
    width: 80%;
    height: 2rem;
    border-radius: 7px;
    border-color: transparent;
    background-color: #e3e4f9;
    border: 1px solid #4043e1;
}

.post-image{
    width: 100% !important;
    height: 14rem;
    object-fit:cover;
    object-position:50% 50%;
}

.main{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 10%;
    height: 100%;
    text-align: center;
}

.mat-tab-header{
    border-bottom: 0px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label{
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label-active{
    font-weight: bold;
}


.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    text-align: left;
    margin-left: 2rem !important;
    text-transform: capitalize !important;
}

.location{
    text-align: left;
}

.description{
    margin-top: 1rem;
}

.quantity{
    font-weight: bold;
    color: #4f9ef3;
}


.bottom-section{
    position: absolute;
    width: 100%;
    margin-top: 2rem;
}


.contact-button{
    width: 65%;
    margin: auto;
    --background-color: #0038ff !important;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 3.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    --border-radius: 10px;
  }

  .delete-button{
    width: 80%;
    margin: auto;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    --border-radius: 10px;
  }


  agm-map{
      height: 45vh;
  }