

 <ion-header>
  <ion-toolbar class="header">
    <ion-title>Share and Rate</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="share-rate-container">

    <!-- Share app (twitter, facebook, insta, etc) -->
    <h3 class="subtitle">Share with Others</h3>
    <div class="options">
      <div class="option" style="color: #52c152;">
        <ion-icon name="chatbubble"></ion-icon>
        <h4 class="option-text">Messages</h4>
      </div>
      <div class="option" style="color: #d43fd4;">
        <ion-icon name="logo-instagram"></ion-icon>
        <h4 class="option-text">Instagram</h4>
      </div>
  
      <div class="option" style="color: #3880ff;">
        <ion-icon name="logo-facebook"></ion-icon>
        <h4 class="option-text">Facebook</h4>
      </div>

      <div class="option" style="color: #4dc4ea;" (click)="otherShare()">
        <ion-icon name="logo-twitter"></ion-icon>
        <h4 class="option-text">Twitter</h4>
      </div>
    </div>
   

    <!-- Rate app with stars and button -->
    <h3 class="subtitle">Rate Our App</h3>

    <div class="rate-container">
      <div class="stars" style="color: #ffcb38;">
        <div class="star" *ngFor="let star of stars; let i = index" (click)="toggleStar(i)">
          <ion-icon name="star-outline" [hidden]="star"></ion-icon>
          <ion-icon name="star" [hidden]="!star"></ion-icon>
        </div>       
      </div>
      <button class="submit-button">SUBMIT</button>
    </div>

  </div>
</ion-content>