

 <ion-header>
  <ion-toolbar class="header">
    <ion-title>Share and Rate</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="share-rate-container">

    <!-- Share app (twitter, facebook, insta, etc) -->
    <h3 class="subtitle">Share with Others</h3>
    <div class="options">
      <div class="option" style="color: #d43fd4;" (click)="instaShare()">
        <ion-icon name="logo-instagram"></ion-icon>
        <h4 class="option-text">Instagram</h4>
      </div>
  
      <div class="option" style="color: #3880ff;" (click)="facebookShare()">
        <ion-icon name="logo-facebook"></ion-icon>
        <h4 class="option-text">Facebook</h4>
      </div>

      <div class="option" style="color: #4dc4ea;" (click)="twitterShare()">
        <ion-icon name="logo-twitter"></ion-icon>
        <h4 class="option-text">Twitter</h4>
      </div>

      <div class="option" style="color: #9c9eac;" (click)="otherShare()">
        <ion-icon name="share"></ion-icon>
        <h4 class="option-text">Share</h4>
      </div>
    </div>
   

    <!-- Rate app with stars and button -->
    <h3 class="subtitle">Rate Our App</h3>

    <div class="rate-container">
      <button class="submit-button">RATE OUR APP</button>
    </div>

  </div>
</ion-content>