<div class="locations-container">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="showNearbyResto()"><ion-icon name="list"></ion-icon>Restaurants</button>
        </ion-buttons> 
      <ion-title>Locations Near You</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true">
    <agm-map [latitude]="34" [longitude]="-113" [zoom]="8">

      <agm-marker 
        *ngFor="let point of points | async; trackBy: trackByFn" 
        [latitude]="point.position.geopoint.latitude" 
        [longitude]="point.position.geopoint.longitude">
  
          <agm-info-window>
  
              <h1>This point is {{ point.queryMetadata.distance }} kilometers from the center</h1>
  
          </agm-info-window>
      </agm-marker>
  
  </agm-map>
  </ion-content>
</div>
