<div class="foodbanks">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="start">
        <button mat-icon-button (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter()">
          <mat-icon>filter_alt</mat-icon>
        </button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Deals4Meals</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="foodbanks" class="choices">
        <ion-segment-button value="deals" (click)="toggleShowFoodbanks()">
          <ion-label>Deals</ion-label>
        </ion-segment-button>
        <ion-segment-button value="foodbanks" checked (click)="toggleShowFoodbanks()">
          <ion-label>Buisnessses Near Me</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-toolbar class="toolbar-item" [hidden]="!showFoodbanks || !search">
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar class="toolbar-item" [hidden]="!showFoodbanks || !filter">
      <app-chips-select [options]="buisnessOptions" [formControl]="categoryControl">
      </app-chips-select>
    </ion-toolbar>
  </ion-header>

  <!-- TODO for cards: Add small portion to description -->

  <ion-content class="content">


  <div class="foodbanks-section" [hidden]="!showFoodbanks">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <div class="foodbanks" *ngIf="showFoodbanks" [hidden]="loadingFoodbanks">
          <div class="foodbank" *ngFor="let foodbank of buisnesses" (click)="openBuisness(foodbank)">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src={{foodbank.photoURL}}>
              </ion-thumbnail>
              <ion-label>
                <h3>{{foodbank.name}}</h3>
                <p>{{getLocation(foodbank.location)}}</p>
                <p>{{getSubLocation(foodbank.location)}}</p>
              </ion-label>
            </ion-item>

          </div>
        </div>

        <div class="loading-foodbanks" [hidden]="!loadingFoodbanks">
          <div class="foodbank" *ngFor="let post of [1,2,3,4,5]">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </div>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div class="deals-section" [hidden]="showFoodbanks">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <div class="foodbanks" *ngIf="!showFoodbanks" [hidden]="loadingDeals">
          <div class="foodbank" *ngFor="let deal of deals" (click)="openPost(deal)">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src={{deal.images[0]}}>
              </ion-thumbnail>
              <ion-label>
                <h3>{{deal.title}}</h3>
                <p>{{getLocation(deal.userProfile.location)}}</p>
                <p>{{getSubLocation(deal.userProfile.location)}}</p>
              </ion-label>
            </ion-item>

          </div>
        </div>

        <div class="loading-foodbanks" [hidden]="!loadingDeals">
          <div class="foodbank" *ngFor="let post of [1,2,3,4,5]">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </div>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
    


  </ion-content>





  <app-bottom-bar></app-bottom-bar>