<div class="foodbanks">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- TODO for cards: Add small portion to description -->

  <ion-content class="content">
    <div class="main-buisnesss-content">
    <h1 class="title">View Buisnesses</h1>
    <div class="options-bar">
      <ion-searchbar></ion-searchbar>
    </div>
    <h3>Locations Near You</h3>
  <div class="foodbanks-section">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <div class="foodbanks" [hidden]="loadingBuisnesses">
          <div class="foodbank" *ngFor="let foodbank of buisnesses" (click)="openBuisness(foodbank)">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src={{foodbank.photoURL}}>
              </ion-thumbnail>
              <ion-label>
                <h3>{{foodbank.name}}</h3>
                <p>{{getLocation(foodbank.location)}}</p>
                <p>{{getSubLocation(foodbank.location)}}</p>
              </ion-label>
            </ion-item>

          </div>
        </div>

        <div class="loading-foodbanks" [hidden]="!loadingBuisnesses">
          <div class="foodbank" *ngFor="let post of [1,2,3,4,5]">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </div>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
  </ion-content>

  <app-bottom-bar></app-bottom-bar>