<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../../assets/images/main.jpg" alt="Foodbank Image" />
    <br />
    <strong class="title">Deals2Meals</strong>
    <p class="context">Donate overstocked food to local foodbanks</p>
    <br />
    <ion-button expand="block" color="secondary" class="sign-in-button" (click)="navigate('login')" routerDirection="forward">Sign In</ion-button>
    <p class="description">Don't have an account? <a (click)="navigate('signup')" routerDirection="forward">Sign Up.</a></p>
  </div>
</ion-content>
