#container {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  color: #8c8c8c;
  margin-top: 1.5rem;
  line-height: 2rem;
}

#container a {
  text-decoration: none;
}

.home-image{
  margin-top: 3rem;
}

.title{
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.sign-in-button{
  width: 80%;
  margin: auto;
  --background: #5979E9 !important;
  --font-family: 'Roboto', sans-serif;
  --color: white;
  --text-align: center;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.context{
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

