
<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" [disabled]="completed">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <!-- TODO: add is different field -->
      <ion-button class="send" [disabled]="!post.title || !post.description || post.images == [] || loading || completed" (click)="updatePost()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="nav-title">Edit Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="top">
    <div class="container">
        <div class="group">      
          <input type="text" [(ngModel)]="post.title">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Title</label>
        </div>
      
    </div>
  </div>

  <div class="main">
    <ion-item>
      <ion-label>Select Quantity</ion-label>
      <ion-select interface="popover" [(ngModel)]="post.amount" [compareWith]="compareWithFn">
        <ion-select-option value={{num}} *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]">{{num}}</ion-select-option>
      </ion-select>
    </ion-item>


    <div class="sub-content">
      <h3 class="sub-title">Description</h3>
      <textarea name="Text1" cols="40" rows="5" [(ngModel)]="post.description"></textarea>
    </div>
    <div class="sub-content">
      <div class="images">
        <input type="file" style="display: none" #file accept="image/jpeg,image/x-png" (change)="onDrop($event.target.files)">
        <img src={{image}} class="image" *ngFor="let image of post.images">
        <div class="image-add" (click)="file.click()">
          <ion-icon name="images-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="spinner-content" [hidden]="!loading">
    <div class="main-spinner">
      <ion-spinner name="bubbles"></ion-spinner>
      <h3>Editing Post...</h3>
    </div> 
  </div>
</ion-content>