@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.form{
    position: absolute;
    margin-left: 2rem;
    margin-right: 2rem;
    top: 20%;
    width: 75%;
    text-align: center;
}


.description{
    font-size: 1rem;
}

.header{
    color: #666A86;
    --border-width: 0px !important;
    margin-bottom: 2rem;
}

ion-back-button{
    color: #7d89e0;
 }

 mat-form-field{
    width: 15rem;
    margin-bottom: 1rem;
 }

 .login-button{
    background: #666A86;
    color: white !important;
    font-size: 1.1rem !important;
    border: 5px solid #666A86 !important;
    border-radius: 20px !important;
    width: 7rem !important;
    text-align: center !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    height: 3rem !important;
}

 .title{
     font-family: 'Poppins', sans-serif !important;
     width: 14rem !important;
     font-weight: bold !important;
     margin-left: 1rem !important;
     font-size: 1.8rem !important;
     line-height: 2.5rem !important;
 }

.sign-in-button{
    width: 100%;
    margin: auto;
    --background: #5979E9 !important;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    --border-radius: 10px;
  }

  .main{
    margin-left: 2rem;
    margin-right: 2rem;
  }