<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigate('')" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<div class="form">
<div class="main">
  <p class="content">Organization Email:</p>
  <input type="text"/>
  <p class="content">Password:</p>
  <input type="text" />
</div>
  <ion-button expand="block" color="secondary" class="sign-in-button">Sign In</ion-button>
  <p class="description">Don't have an account? <a (click)="navigate('signup')">Sign Up.</a></p>
</div>