<div class="locations-container">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Locations Near You</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true" *ngIf="user">
    <agm-map 
    [zoom]="zoom" 
    [latitude]="user.location.latitude"
    [longitude]="user.location.longitude">
      <agm-marker *ngFor="let buisness of buisnesses" 
      [latitude]="buisness.location.latitude"
      [longitude]="buisness.location.longitude"
      [markerClickable]="true"
      (markerClick)="openBuisnessDialog(buisness)"
      ></agm-marker>
      <!-- <agm-overlay
      *ngFor="let buisness of buisnesses"
      [latitude]="buisness.location.latitude"
      [longitude]="buisness.location.longitude"
      (click)="openBuisnessDialog(buisness)"
    >
      <div class="customMarker" (click)="openBuisnessDialog(buisness)">
        <img [src]="buisness.photoURL" alt="Image" />
      </div>
    </agm-overlay> -->

    </agm-map>
  </ion-content>

  <ion-bottom-sheet [title]="Buisnesses Near You">

  </ion-bottom-sheet>
</div>
