<!-- <div class="locations-container"> -->
  <ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button style="color: black;"></ion-menu-button>
      </ion-buttons>
      <ion-title>Locations Near You</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <!-- TODO: make this google places seach via location + buisness name -->
      <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  

  <ion-content *ngIf="user" no-bounce>
    <div class="indicators">
      <div class="indicator" (click)="toggleIndicators('foodbanks')" [ngClass]="{'foodbanksIndicator': toggledFoodbanks}">
        <ion-icon name="nutrition-outline"></ion-icon>
      </div>
      <div class="indicator" (click)="toggleIndicators('restaurants')" [ngClass]="{'restaurantsIndicator': toggledRestaurants}">
        <ion-icon name="storefront-outline"></ion-icon>
      </div>
      <div class="indicator" (click)="toggleIndicators('others')" [ngClass]="{'othersIndicator': toggledOthers}">
        <ion-icon name="business-outline"></ion-icon>
      </div>
    </div>
    
    <agm-map 
    [zoom]="zoom" 
    [latitude]="mapLatitiude"
    [longitude]="mapLongitude"
    [usePanning]="true">
      <agm-marker *ngFor="let buisness of buisnesses | buisnessCategory: [selectedIndicators]: selectedIndicators | filterBy: ['name']: searchTerm" 
      [latitude]="buisness.location.latitude"
      [longitude]="buisness.location.longitude"
      [iconUrl]='{"url": markerImage,"scaledSize": {"height": 40, "width": 40}}'
      [markerClickable]="true"
      (markerClick)="openWindow(buisness.id)"
      >
      <agm-info-window style="width: 200px;" [isOpen]="isInfoWindowOpen(buisness.id)">
        <div class="buisness-info-display">
          <img src={{buisness.photoURL}} />
          <div class="display-content">
            <h3>{{buisness.name}}</h3>
            <p style="padding-right: 10px;">{{getLocation(buisness.location)}}</p>
            <p style="padding-right: 10px;">{{getSubLocation(buisness.location)}}</p>
            <button class="more" (click)="openBuisnessDialog(buisness)">MORE</button>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
    </agm-map>
  </ion-content>

  <ion-bottom-sheet title="Buisnesses Near You" [hideCloseButton]="true" [state]="defaultSheetState" [minHeight]="mapMinHeight">
    <ion-list [hidden]="searchTerm == ''">
      <ion-item *ngFor="let buisness of buisnesses | filterBy: ['name']: searchTerm | buisnessCategory: [selectedIndicators]: selectedIndicators" (click)="openWindow(buisness.id)">
        <ion-thumbnail slot="start">
          <img src={{buisness.photoURL}}>
        </ion-thumbnail>
        <ion-label>
          <h3>{{buisness.name}}</h3>
          <p>{{getLocation(buisness.location)}}</p>
          <p>{{getSubLocation(buisness.location)}}</p>
        </ion-label>
      </ion-item>
  
      <div class="no-buisnesses" [hidden]="buisnesses.length != 0 || loading" style="text-align: center; margin-top: 2rem;">
        <h2>No Buisnesses Found!</h2>
        <p style="font-size: 1rem;">Please check another time to find more buisnesses near you.</p>
      </div>
    </ion-list>

    <ion-list [hidden]="searchTerm != ''">
      <ion-item *ngFor="let buisness of buisnesses | slice:0:4" (click)="openWindow(buisness.id)">
        <ion-thumbnail slot="start">
          <img src={{buisness.photoURL}}>
        </ion-thumbnail>
        <ion-label>
          <h3>{{buisness.name}}</h3>
          <p>{{getLocation(buisness.location)}}</p>
          <p>{{getSubLocation(buisness.location)}}</p>
        </ion-label>
      </ion-item>
  
      <div class="no-buisnesses" [hidden]="buisnesses.length != 0 || loading" style="text-align: center; margin-top: 2rem;">
        <h2>No Buisnesses Found!</h2>
        <p style="font-size: 1rem;">Please check another time to find more buisnesses near you.</p>
      </div>
    </ion-list>

  </ion-bottom-sheet>
<!-- </div> -->


