  <ion-tab-bar slot="bottom" *ngIf="user">
    <ion-tab-button  (click)="navigate('foodbanks')" [class.active-item]="selectedPath.includes('foodbanks')">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Foodbanks</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigate('locations')" [class.active-item]="selectedPath.includes('locations')" *ngIf="user.isBusiness">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  
    <ion-tab-button  (click)="navigate('profile')" [class.active-item]="selectedPath.includes('profile')">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

</ion-tab-bar> 

<ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="presentModal()" *ngIf="user">
  <ion-fab-button [hidden]="!user.isBusiness">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>