<ion-header>
  <ion-toolbar color="#3048D1">
    <ion-title>End Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-list lines="none">
    <ion-item (click)="navigate('profile')">
      <ion-icon name="person-circle-outline" ></ion-icon>
      Profile
    </ion-item>
    <ion-item (click)="navigate('foodbanks')" *ngIf="identifier == 'foodbank'">
      <ion-icon name="storefront-outline" ></ion-icon>
      Foodbanks
    </ion-item>
    <ion-item (click)="navigate('stores')" *ngIf="identifier == 'store'">
      <ion-icon name="storefront-outline" ></ion-icon>
      Grocery Stores
    </ion-item>
    <ion-item (click)="navigate('locations')">
      <ion-icon name="location-outline"></ion-icon>
      Locations
    </ion-item>
    <ion-item>
      <ion-icon name="notifications-outline"></ion-icon>
      Notifications
    </ion-item>
    <ion-item>
      <ion-icon name="settings-outline"></ion-icon>
      Settings
    </ion-item>
  </ion-list>
  <!-- profile info -->
</ion-content>