.header{
    background-color: #3048D1 !important;
    color: white;
}

ion-content{
    background-color: #3048D1 !important;
}
.content{
    background-color: #3048D1 !important;  
    height: 80vh;
}

ion-item{
    color: black !important;
    font-weight: bold;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

ion-icon{
    margin-right: 1rem;
}

ion-toolbar{
    background-color: #3048D1 !important;  
    color: white;
}
