<ion-header>
  <ion-toolbar color="#3048D1">
    <ion-title>End Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-list lines="none">
    <ion-item (click)="navigate('foodbanks')">
      <ion-icon name="storefront-outline" ></ion-icon>
      Buisnesses
    </ion-item>
    <ion-item (click)="navigate('locations')">
      <ion-icon name="location-outline"></ion-icon>
      Locations
    </ion-item>
    <ion-item (click)="navigate('profile')">
      <ion-icon name="person-circle-outline" ></ion-icon>
      Profile
    </ion-item>
    <ion-item>
      <ion-icon name="notifications-outline"></ion-icon>
      Notifications
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      Log Out
    </ion-item>
  </ion-list>
  <!-- profile info -->
</ion-content>