<ion-header>
  <ion-toolbar color="#3048D1">
    <div class="profile-section" *ngIf="user">
      <ngx-avatar src={{user.photoURL}}></ngx-avatar>
      <h2>{{user.name}}</h2>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-list lines="none">
    <ion-item (click)="navigate('deals')">
      <ion-icon name="restaurant-outline"></ion-icon>
      Deals
    </ion-item>
    <ion-item (click)="navigate('foodbanks')">
      <ion-icon name="storefront-outline" ></ion-icon>
      Buisnesses
    </ion-item>
    <ion-item (click)="navigate('locations')">
      <ion-icon name="location-outline"></ion-icon>
      Locations
    </ion-item>
    <ion-item (click)="navigate('profile')">
      <ion-icon name="person-circle-outline" ></ion-icon>
      Profile
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      Log Out
    </ion-item>
  </ion-list>
  <!-- profile info -->
</ion-content>