<ion-header>
  <ion-toolbar color="#4043E1" class="header">
    <ion-buttons slot="start">
      <ion-back-button (click)="navigate('profile')" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title class="nav-title">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<div class="form" *ngIf="userProfile">
  <div class="profile-container">
    <img src={{userProfile.photoURL}} alt="User Image" class="user-image"/>
    <button class="edit-button">
      <ion-icon name="pencil-outline"></ion-icon>
    </button>
  </div>

<ion-item>
  <ion-label>Select Account</ion-label>
  <ion-select interface="popover" [(ngModel)]="userProfile.accountType">
    <ion-select-option value="foodbank">Foodbank</ion-select-option>
    <ion-select-option value="store">Grocery Store</ion-select-option>
  </ion-select>
</ion-item>

  <div class="form-item">
    <p class="content">Organization Name:</p>
    <input matInput type="text" [(ngModel)]="userProfile.name" placeholder="Enter Name"/>
    <p class="error">{{errors.name}}</p>
  </div>
   
  <div class="form-item">
    <p class="content">Email:</p>
    <input matInput type="email" [(ngModel)]="userProfile.email" placeholder="Enter Email"/>
    <p class="error">{{errors.email}}</p>
  </div>
  
  <ion-button expand="block" class="save-button" [disabled]="!fieldsDifferent || !userProfile.name || !userProfile.email || !userProfile.photoURL" (click)="editProfile()">SAVE</ion-button>
</div>

