

 <ion-header>
  <ion-toolbar class="header">
    <ion-title>Edit profile</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigate('settings')">Cancel</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!fieldsDifferent() || !userProfile.name || !userProfile.email || !userProfile.photoURL || profileLoading" (click)="editProfile()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="settings-form">
    <div class="top-section">
      <div class="profile-input" (click)="file.click()">
        <input type="file" style="display: none" #file accept="image/jpeg,image/x-png" (change)="onDrop($event.target.files)">
        <img src={{userProfile.photoURL}} class="profile-image"/>
      </div>

      <ion-button  class="edit-image-button" (click)="file.click()">Upload Image</ion-button>
    </div>

    <div class="bottom-section" *ngIf="userProfile.isBuisness">
      <ion-item>
        <ion-label>Buisness Name:</ion-label>
        <ion-input [(ngModel)]="userProfile.name" placeholder="eg. Walgreens"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Buisness Description: </ion-label>
        <ion-textarea maxlength="140" placeholder="Enter more information here..." [(ngModel)]="userProfile.description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Account Type:</ion-label>
        <ion-select interface="popover" [(ngModel)]="userProfile.accountType">
          <ion-select-option value="foodie">Foodie</ion-select-option>
          <ion-select-option value="foodbank">Foodbank</ion-select-option>
          <ion-select-option value="restaurant">Restaurant</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <div class="bottom-section" *ngIf="!userProfile.isBuisness">
      <ion-item>
        <ion-label>First Name:</ion-label>
        <ion-input placeholder="eg. John" [(ngModel)]="firstName" (input)="editUserName($event.target.value, 'first')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Last Name:</ion-label>
        <ion-input placeholder="eg. Doe" [(ngModel)]="lastName" (input)="editUserName($event.target.value, 'last')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Account Type:</ion-label>
        <ion-select interface="popover" [(ngModel)]="userProfile.accountType">
          <ion-select-option value="foodie">Foodie</ion-select-option>
          <ion-select-option value="foodbank">Foodbank</ion-select-option>
          <ion-select-option value="restaurant">Restaurant</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

  </div>
</ion-content>