@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    font-family: 'Poppins', sans-serif !important;
    width: 14rem !important;
    margin-left: 1rem !important;
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
}

.mat-horizontal-content-container{
    text-align: center;
    margin-top: 1.5rem;
}

.error{
    color: red;
}

.places-input{
    width: 85vw;
    border-radius: 10px;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
}

.description-zone{
    text-align: left;
    padding-left: 1rem;
    h3, h4{
        margin-bottom: 0px;
    }

    h3{
        color: rgb(46, 45, 45);
    }

    h4{
        color: rgb(87, 85, 85);
    }
}

.header{
    color: #666A86;
    --border-width: 0px !important;
    margin-bottom: 2rem;
}

ion-back-button{
   color: #7d89e0;
}

.sign-in-container{
    text-align: center;
    margin-top: 1.5rem;
    .description{
        font-size: 1rem;
    }
}


mat-form-field{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    width: 70vw;
    font-size: 1rem;
    height: 8vh;
}

.continue-button{
    background: #666A86;
    color: white !important;
    font-size: 1.1rem !important;
    border: 5px solid #666A86 !important;
    border-radius: 20px !important;
    width: 10rem !important;
    text-align: center !important;
    margin-top: 1.5rem !important;
    height: 3rem !important;
    filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.1)) !important;
}

.back-button{
    background: #9a9db8 !important;
    border: 5px solid #9a9db8 !important;
    border-radius: 20px !important;
}

.buttons{
    display: flex;
    justify-content: space-between;
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: #666A86 !important;
}

.sign-up-form{
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
    overflow-y: scroll;
}

mat-step{
    overflow-y: scroll;
}

.location-button{
    background-color: #7d89e0 !important; 
    color: white;
    font-weight: bold;

    ion-icon{
        margin-right: 1rem;
    }
}

.hidden-map{
    background: rgba(0, 0, 0, 0) none 
}

agm-map {
    height: 300px;
}

// Screen sizes

/* Portrait: IPhone 5 */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .sign-up-page{
        .mat-form-field-wrapper{
            padding-bottom: 1rem !important;
        }  
    }
    .continue-button{
        width: 8rem !important;
    }

    .mat-horizontal-content-container{
        margin-top: 0px !important;
    }
}


/* Portrait: iPhone 6, 6S, 7 and 8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .continue-button{
        width: 10rem !important;
    }
}

/* Portrait: iPhone X */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .title{
        margin-top: 3vh !important;
    }
}