
<ion-content [fullscreen]="true">

  <div class="sign-up-page">

    <div class="top">
      <div style="color: transparent; padding-top: 8vh;">content</div>
    </div>
  
    <h1 class="title">Create an <b>Account</b></h1>
  
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [completed]="accountType != ''">
        <ng-template matStepLabel>Step 1</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Account Type</mat-label>
          <select matNativeControl required (change)="selectType($event.target.value)">
            <option value="foodie">Foodie</option>
            <option value="business">Business</option>
          </select>
        </mat-form-field>
  
        <mat-form-field appearance="fill" [hidden]="!isBusiness">
          <mat-label>Buisness Type</mat-label>
          <select matNativeControl required [(ngModel)]="accountType">
            <option value="restaurant">Restaurant</option>
            <option value="foodbank">Foodbank</option>
            <option value="other">Other</option>
          </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="accountType == ''" class="continue-button">Next</button>
        </div>
      </mat-step>
      <mat-step *ngIf="isBusiness">
        <ng-template matStepLabel>Step 2</ng-template>
        <!-- <ion-button (click)="getGeolocation()" class="location-button" expand="full">
          <ion-icon name="location-outline"></ion-icon>
          Get Location
        </ion-button> -->
        <!-- <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [hidden]="location.fullAddress == ''">
          <agm-marker [latitude]="location.latitude"
                  [longitude]="location.longitude"></agm-marker>
        </agm-map> -->

        <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <p>hello</p>
        <ion-list [hidden]="autocompleteItems.length == 0" style="height: 30vh;">
          <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
            {{ item.description }}
          </ion-item>
        </ion-list> -->

        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="Enter your address"/>

        <div class="description-zone" [hidden]="location.fullAddress == ''">
          <h3>Address Description:</h3>
          <h4>Street</h4>
          <h4>{{location.subThoroughfare}} {{location.thoroughfare}}</h4>
          <h4>City</h4>
          <h4>{{location.subLocality}}</h4>
          <h4>State</h4>
          <h4>{{location.locality}}</h4>
          <h4>Country</h4>
          <h4>{{location.countryCode}}</h4>
          <h4>Zip Code</h4>
          <h4>{{location.postalCode}}</h4>
        </div>
        
        <div class="buttons">
          <button mat-button matStepperPrevious class="continue-button back-button">Back</button>
          <button mat-button matStepperNext class="continue-button" [disabled]="location.fullAddress == ''">Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="validateSecond()">
        <ng-template matStepLabel *ngIf="!isBusiness">Step 2</ng-template>
        <ng-template matStepLabel *ngIf="isBusiness">Step 3</ng-template>
        <mat-form-field appearance="outline" [hidden]="!isBusiness">
          <mat-label>Organization Name:</mat-label>
          <input matInput placeholder="Ex. Whole Foods" required [(ngModel)]="name" maxlength="30">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-hint style="color:red;">{{errors.name}}</mat-hint>
          <mat-hint align="end">{{name.length}} / 30</mat-hint>
        </mat-form-field>
  
        <mat-form-field appearance="outline" [hidden]="isBusiness">
          <mat-label>First Name:</mat-label>
          <input matInput placeholder="Ex. John" required (input)="changeName($event.target.value, 'first')" maxlength="20">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-hint style="color:red;">{{errors.name}}</mat-hint>
          <mat-hint align="end">{{firstName.length}} / 20</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" [hidden]="isBusiness">
          <mat-label>Last Name:</mat-label>
          <input matInput placeholder="Ex. Doe" required (input)="changeName($event.target.value, 'last')" maxlength="20"> 
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-hint style="color:red;">{{errors.name}}</mat-hint>
          <mat-hint align="end">{{lastName.length}} / 20</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email: </mat-label>
          <input matInput placeholder="Ex. johndoe@gmail.com" type="email" required [(ngModel)]="email">
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint style="color:red;">{{errors.email}}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password:</mat-label>
          <input matInput type="password" required [(ngModel)]="password">
          <mat-icon matSuffix>visibility_outline</mat-icon>
          <mat-hint style="color:red;">{{errors.password}}</mat-hint>
        </mat-form-field>
        <div class="buttons">
          <button mat-button matStepperPrevious class="continue-button back-button">Back</button>
          <button mat-button [hidden]="isBusiness" [disabled]="email == '' || password == '' || name == ''"
            (click)="signUp()" class="continue-button">Sign Up</button>
          <button (click)="signUp()" [hidden]="!isBusiness" [disabled]="email == '' || password == '' || name == ''"
            class="continue-button">Sign Up</button>
        </div>

        <h2 class="divider line one-line">OR</h2>
        <div class="google-section">
          <button class="google-button" (click)="googleSignUp()">
            <img src="../../../../assets/icon/google-icon.svg" alt="Google Icon" />
            <h3>Sign up with Google</h3>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <div class="sign-in-container">
      <p class="description">Already have an account? <a (click)="navigate('login')">Sign In.</a></p>
    </div>
  
    <div class="spinner-content" [hidden]="!loading">
      <div class="main-spinner">
        <ion-spinner name="bubbles"></ion-spinner>
        <h3>Creating Account...</h3>
      </div> 
    </div>
  
  </div>
</ion-content>
