<div class="deals">
  <ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- TODO: adjust loading skeletons -->

  <ion-content class="content">

    <ion-slides pager id="main-display-slides">
      <ion-slide>
          <div class="header-main">
            <img src="../../../../assets/images/welcome-header.png" alt="Welcome Header"/>
          </div>
      </ion-slide>
      </ion-slides>

  <div class="deals-section" *ngIf="deals$ | async as deals">

    <div class="general-display">
      <div class="topDisplay">
        <h3 class="subtitle">All Deals</h3>
      </div>
      <ion-list>
        <div class="deals" > 
          <div class="deal" *ngFor="let deal of paginationDeals" (click)="openDeal(deal)">
              <div class="deal-image" style="background-color: rgb(192, 184, 184);">
                <img src={{deal.images[0]}} loading="lazy" />
              </div>
              <div class="end-information">
                <h3>{{getDistanceBetweenDeal(deal)}} mi</h3>
                <h3>{{deal.votes}} votes</h3>
              </div>
              
          </div>

          <div class="no-deals" [hidden]="paginationDeals.length != 0">
            <h2>No Deals Found!</h2>
            <p style="font-size: 1rem;">Please check another time for more deals near you.</p>
          </div>
        </div>

        <div class="loading-deals" [hidden]="!loadingDeals">
          <div class="loading-deal" *ngFor="let post of [1,2,3]">
            <ion-skeleton-text animated class="image-loading"></ion-skeleton-text>
            <ion-skeleton-text animated class="subtext-loading"></ion-skeleton-text>
          </div>
        </div>
      </ion-list>
      
      <ion-infinite-scroll (ionInfinite)="onScroll()" *ngIf="!empty">
        <ion-infinite-scroll-content loadingSpinner="crescent" *ngIf="!empty">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

  </div>
    
  </ion-content>

  <app-bottom-bar></app-bottom-bar>