<div class="deals">
  <ion-header>
    <ion-toolbar class="header" color="#4078e1">
      <ion-buttons slot="end">
        <button mat-icon-button (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFilter()">
          <mat-icon>filter_alt</mat-icon>
        </button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DealsForMeals</ion-title>
    </ion-toolbar>
    <ion-toolbar class="toolbar-item" [hidden]="!search">
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar class="toolbar-item" [hidden]="!filter">
      <app-chips-select [options]="buisnessOptions" [formControl]="categoryControl">
      </app-chips-select>
    </ion-toolbar>
  </ion-header>

  <!-- TODO for cards: Add small portion to description -->

  <ion-content class="content">


  <div class="deals-section">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <div class="deals" [hidden]="loadingDeals">
          <div class="deal" *ngFor="let deal of deals" (click)="openDeal(deal)">
            <ion-item>
              <ion-thumbnail slot="start">
                <img src={{deal.images[0]}}>
              </ion-thumbnail>
              <ion-label>
                <h3>{{deal.title}}</h3>
                <p>{{getLocation(deal.userProfile.location)}}</p>
                <p>{{getSubLocation(deal.userProfile.location)}}</p>
              </ion-label>
            </ion-item>

          </div>
        </div>

        <div class="loading-deals" [hidden]="!loadingDeals">
          <div class="deal" *ngFor="let post of [1,2,3,4,5]">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </div>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
    
  </ion-content>

  <app-bottom-bar></app-bottom-bar>