.header{
    background-color: white;
    color: black;
}


ion-title{
    color: black;
}

ion-item{
    margin-top: 2vh;
}

ion-content::before{
    background-color: blue;
}

.logout-item{
    color: red;
    margin-top: 3rem;
}