<ion-header>
  <ion-toolbar class="header">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="settings-form">
    <ion-list lines="none">
    <!-- Profile -->
    <ion-item detail (click)="navigate('profile/edit')" class="divider-item">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label>
        Profile Details
      </ion-label>
    </ion-item>
    <!-- Account Settings -->
    <ion-item detail (click)="navigate('profile/settings')">
      <ion-icon slot="start" name="cog"></ion-icon>
      <ion-label>
        Account Settings
      </ion-label>
    </ion-item>
     <!-- Log Out Settings -->
     <ion-item detail (click)="logOut()" class="logout-item">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>
        Log Out
      </ion-label>
    </ion-item>


      <!-- Support -->
      <ion-item (click)="navigate('profile/share')" class="divider-item">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="open-outline" class="open-option"></ion-icon>
        <ion-label>
          Support 
        </ion-label>   
      </ion-item>  
    <!-- Share -->
    <ion-item detail (click)="navigate('profile/share')">
      <ion-icon slot="start" name="share-social"></ion-icon>
      <ion-label>
        Share 
      </ion-label>   
    </ion-item>
    <!-- Rate -->
    <ion-item (click)="navigate('profile/share')">
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-icon slot="end" name="open-outline" class="open-option"></ion-icon>
      <ion-label>
        Rate 
      </ion-label>   
    </ion-item>
  
    <!-- Get Help -->
    <ion-item detail (click)="navigate('profile/help')" class="divider-item">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      <ion-label>
       Get Help and FAQ
      </ion-label>   
    </ion-item>
    <!-- Privacy Policy -->
    <ion-item (click)="navigate('profile/help')">
      <ion-icon name="shield-half-outline" slot="start"></ion-icon>
      <ion-icon slot="end" name="open-outline" class="open-option"></ion-icon>
      <ion-label>
        Privacy Policy
      </ion-label>   
    </ion-item>
    <!-- Terms of Use -->
    <ion-item (click)="navigate('profile/help')">
      <ion-icon name="menu-outline" slot="start"></ion-icon>
      <ion-icon slot="end" name="open-outline" class="open-option"></ion-icon>
      <ion-label>
        Terms of Use
      </ion-label>   
    </ion-item>
  </ion-list>

  </div>
</ion-content>