<ion-content [fullscreen]="true">
  <div class="top">
    <div style="color: transparent; padding-top: 8vh;">content</div>
  </div>
    
 
  <div class="form">
    <h1 class="title">Welcome Back,  <br /> <b>Sign In</b></h1>
  <div class="main">
    <mat-form-field appearance="outline">
      <mat-label>Email: </mat-label>
      <input matInput placeholder="Ex. johndoe@gmail.com" type="email"
             required [(ngModel)]="email">
      <mat-icon matSuffix>mail_outline</mat-icon>
    <mat-hint style="color:red;">{{errors.email}}</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password:</mat-label>
      <input matInput type="password"
             required [(ngModel)]="password">
      <mat-icon matSuffix>lock</mat-icon>
    <mat-hint style="color:red;">{{errors.password}}</mat-hint> 
    </mat-form-field>

    <button mat-button [disabled]="email == '' || password == ''" (click)="login()" class="login-button">Login</button>
  </div>
  <h2 class="divider line one-line">OR</h2>

  <div class="google-section">
    <button class="google-button">
      <img src="../../../../assets/icon/google-icon.svg" alt="Google Icon" />
      <h3>Sign in with Google</h3>
    </button>
  </div>

    
    <p class="description">Don't have an account? <a (click)="navigate('signup')">Sign Up.</a></p>
  </div>

  <div class="spinner-content" [hidden]="!loading">
    <div class="main-spinner">
      <ion-spinner name="bubbles"></ion-spinner>
      <h3>Logging In...</h3>
    </div> 
  </div>
</ion-content>
