@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.form{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 75%;
    text-align: center;
}

.description{
    font-size: 1rem;
}

.header{
    color: #666A86;
    --border-width: 0px !important;
    margin-bottom: 2rem;
}

ion-back-button{
    color: #7d89e0;
 }

 mat-form-field{
    width: 16rem;
    margin-bottom: 1rem;
 }

 .login-button{
    background: #666A86;
    color: white !important;
    font-size: 1.1rem !important;
    border: 5px solid #666A86 !important;
    border-radius: 20px !important;
    width: 10rem !important;
    text-align: center !important;
    height: 3rem !important;
    filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.1)) !important;
}

 .title{
     font-family: 'Poppins', sans-serif !important;
     width: 14rem !important;
     margin-left: 1rem !important;
     font-size: 1.8rem !important;
     text-align: left !important;
     line-height: 2.5rem !important;
 }

.sign-in-button{
    width: 100%;
    margin: auto;
    --background: #5979E9 !important;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
    --border-radius: 10px;
  }

  .main{
    margin-top: 2rem;
  }



  .google-section{
    margin-bottom: 2rem;
  }

  // Media Queries 

/* Portrait: Iphone 4 */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .top{
    background-size: 100% 100px;
  }

  .title{
    font-size: 1.5rem !important;
  }

  svg{
      height: 60px;

      path{
        display: none;
    }
  }

  .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }

  .main{
    margin-top: 0rem;

    mat-form-field{
        margin-bottom: 1rem !important;
    }

    .divider{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
  }

  .title{
    margin-top: 2vh !important;
   }
}

/* Portrait: IPhone 5 */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .mat-form-field-wrapper{
        padding-bottom: 1rem !important;
    }  
}


/* Portrait: iPhone 6, 6S, 7 and 8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
  
}

/* Portrait: iPhone X */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .title{
        margin-top: 3vh !important;
    }
}