<ion-content [fullscreen]="true">
  <div profile *ngIf="user" #content class="full-profile">
    <div class="top-content">
      <div class="settings-button" (click)="navigate('settings')">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
      <div class="profile-top">
        <div class="top">
          <img src={{user.photoURL}} alt="Profile Image" class="profile-image" />
        </div>
      </div>
    </div>

    <div class="container">

      <div class="transition-info">
        <!-- TODO: placeholder skeletom loader -->
        <h2 class="profile-name">{{user.name}}</h2>
        <h2 class="profile-description">
          <mat-icon>location_on</mat-icon>
          <span>
            {{userAddress}}
          </span>
        </h2>
  
        <!-- TODO: placeholder skeletom loader -->
        <!-- TODO: only show short description  -->
        <div class="description">
          {{user.description}}
        </div>
      </div>
      
      <div class="supplies">
        <div class="profile-options" *ngIf="!user.isBusiness">
          <h4 class="welcome-text">Welcome, {{user.name}}!</h4>
          <ion-button class="profile-button">View Food Banks Near You</ion-button>
          <div class="or-section">
            <h3>OR</h3>
          </div>
          <ion-button class="profile-button">Search Locations in your Area</ion-button>
        </div>

        <div class="profile-options" *ngIf="user.isBusiness">
          <mat-tab-group>
            <!-- TODO: display deals in a gallery -->
            <mat-tab label="DEALS">
              <h3 class="content-header">Your Deals</h3>
              <div class="posts">
                <div class="dealDisplay">
                  <ion-card>
                    <div class="step-card-main">
                      <div class="card-content">
                        <ion-card-header>
                          <ion-card-title>No Deals Created Yet!</ion-card-title>
                          <ion-card-subtitle>Click "Create" button to create a deal</ion-card-subtitle>
                        </ion-card-header>
                      </div>
                    </div>
                  </ion-card>
                </div>
                <div class="posts" *ngIf="!loading">
                  <ion-slides pager>
                    <ion-slide *ngFor="let post of posts">
                      <ion-card (click)="presentPost(post)">
                        <div class="card-main">
                          <img src={{post.images[0]}} />
    
                          <div class="card-content">
                            <ion-card-header>
                              <ion-card-title>{{post.title}}</ion-card-title>
                              <ion-card-subtitle>{{post.userProfile.name}}</ion-card-subtitle>
                            </ion-card-header>
                            
                            <ion-card-content>
                              {{viewDescription(post.description)}}
                            </ion-card-content>
                          </div>
                         
                        </div>
                        
                      </ion-card>
                      <!-- <img src={{image}} alt="Post Image" class="post-image"/> -->
                    </ion-slide>
                  </ion-slides>
                </div>

                <!-- TODO: add next steps for account -->

                <h3 class="content-header">Next Steps</h3>
                <div class="steps">
                  <ion-slides pager>
                    <ion-slide *ngFor="let step of steps">
                      <ion-card (click)="navigate(step.link)">
                        <div class="step-card-main">
                          <ion-avatar item-start>
                            <ngx-avatar value={{findStepIndex(step.content)}}></ngx-avatar>
                          </ion-avatar>
    
                          <div class="card-content">
                            <ion-card-header>
                              <ion-card-title>{{step.content}}</ion-card-title>
                            </ion-card-header>
                          </div>
                         
                        </div>
                        
                      </ion-card>
                    </ion-slide>
                  </ion-slides>
                </div>

                <!-- TODO: restyle loading posts to image gallery of skeleton with one post -->
                <div class="loading-posts" *ngIf="loading && !isFoodbank">
                  <ion-card *ngFor="let post of [1,2]">
                    <ion-skeleton-text animated class="skeleton-image" style="height: 25vh;"></ion-skeleton-text>
                    <ion-card-header>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-card-header>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-card>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="LOCATION">
              <div class="location">
                <agm-map [latitude]="user.location.latitude" [longitude]="user.location.longitude">
                  <agm-marker [latitude]="user.location.latitude"
                          [longitude]="user.location.longitude"></agm-marker>
                </agm-map>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <!-- Show posts here -->

      </div>
    </div>

  </div>

</ion-content>


<app-bottom-bar></app-bottom-bar>