<ion-content [fullscreen]="true" class="hide-nav-bar">
  <div profile *ngIf="user" #content class="full-profile">
    <div class="top-content">
      <div class="menu-button">
        <ion-menu-button></ion-menu-button>
      </div>
      <div class="settings-button" (click)="navigate('settings')">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
      <div class="profile-top">
        <div class="topDisplay">
            <img src={{user.photoURL}} alt="Profile Image" class="profile-image" />
            <button mat-mini-fab class="edit-profile" (click)="navigate('profile/edit')">
              <mat-icon>edit</mat-icon>
            </button>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="transition-info" *ngIf="user">
        <h2 class="profile-name">{{user.name}}</h2>
        <ion-skeleton-text animated [hidden]="user.name != ''"></ion-skeleton-text>
        <div class="buisness-info" [hidden]="!isBuisness">
          <h2 class="profile-description">
            <mat-icon [hidden]="userAddress == ''">location_on</mat-icon>
            <span>
              {{userAddress}}
            </span>
          </h2>
          <ion-skeleton-text animated [hidden]="userAddress != ''"></ion-skeleton-text>
    
          <div class="description">
            {{viewProfileDescription(user.description)}}
          </div>
        </div>
        
        <ion-skeleton-text animated [hidden]="user.description != ''"></ion-skeleton-text>
      </div>

      <div class="supplies">
        <div class="profile-options" *ngIf="!user.isBusiness">
          <h4 class="welcome-text">What would you like to do next?</h4>
          <ion-button class="profile-button" (click)="navigate('deals')">Find Deals</ion-button>
          <ion-button class="profile-button" (click)="navigate('buisnesses')">Find Buisnesses Near You</ion-button>
          <ion-button class="profile-button" (click)="navigate('locations')">Search Locations in your Area</ion-button>
        </div>

        <div class="profile-options" *ngIf="user.isBusiness">
          <ion-segment value="deals" [(ngModel)]="selectedIndex">
            <ion-segment-button value="deals">
              <ion-label>DEALS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="location">
              <ion-label>LOCATION</ion-label>
            </ion-segment-button>
          </ion-segment>
    
            <!-- TODO: display deals in a gallery -->
            <!-- TODO: make show all deals button -->
            <div class="deals" [hidden]="selectedIndex != 'deals'">
              <div class="top-deal-display">
                <h3 class="content-header">Recent Deals</h3>
                <button class="view-all" (click)="presentViewAllDeals()">View All</button>
              </div>
              <div class="posts">
                <div class="dealDisplay">
                  <ion-card *ngIf="posts.length == 0">
                    <div class="step-card-main">
                      <div class="card-content">
                        <ion-card-header>
                          <ion-card-title>No Deals Created Yet!</ion-card-title>
                          <ion-card-subtitle>Click "Create" button to create a deal</ion-card-subtitle>
                        </ion-card-header>
                      </div>
                    </div>
                  </ion-card>
                </div>
                <div class="posts" *ngIf="!loading">
                    <div class="recentDeal" *ngFor="let post of recentDeals">
                      <ion-card (click)="presentPost(post)">
                        <div class="card-main">
                          <img src={{post.images[0]}} />
    
                          <div class="card-content">
                            <ion-card-header>
                              <ion-card-title>{{post.title}}</ion-card-title>
                              <ion-card-subtitle>{{post.userProfile.name}}</ion-card-subtitle>
                            </ion-card-header>
                            
                            <ion-card-content>
                              {{viewDescription(post.description)}}
                            </ion-card-content>
                          </div>
                         
                        </div>
                        
                      </ion-card>
                      </div>
                      
                  </div>

                <div class="loading-posts" *ngIf="loading && isBuisness">

                    <ion-card *ngFor="let post of [1,2,3]">
                      <div class="card-main" style="padding-left: 10px;">
                        <ion-skeleton-text animated height="10vh" width="50px"></ion-skeleton-text>
  
                        <div class="card-content" style="width: 100%;">
                          <ion-card-header>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-card-header>
                          
                          <ion-card-content style="padding-bottom: 5px;">
                            <ion-skeleton-text animated></ion-skeleton-text>
                            <ion-skeleton-text animated></ion-skeleton-text>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-card-content>
                        </div>
                       
                      </div>
                    </ion-card>
                </div>

              </div>
            </div>
            
          <div class="location" [hidden]="selectedIndex != 'location'">
            <agm-map [zoom]="13" [latitude]="user.location.latitude" [longitude]="user.location.longitude">
              <agm-marker [latitude]="user.location.latitude"
                      [longitude]="user.location.longitude"></agm-marker>
            </agm-map>
          </div>
    
      
        </div>

      </div>
    </div>

  </div>

</ion-content>


<app-bottom-bar></app-bottom-bar>