@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.nav-title{
    font-weight: bold;
}

.header{
    color: black !important;
    background-color: rgba(255, 255, 255, 0);
    --border-width: 0 0 0px !important;

    ion-icon{
        color: black;
    }
}

.form{
    position: absolute;
    top: 10%;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
}


// input{
//     width: 80%;
//     height: 2rem;
//     border-radius: 7px;
//     border-color: transparent;
//     background-color: #e3e4f9;
//     border: 1px solid #4043e1;
// }

.post-image{
    width: 100% !important;
    height: 14rem;
    object-fit:cover;
    object-position:50% 50%;
}

.skeleton{
    width: 90%;
    margin: auto;
}

.main{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 8%;
    height: 90%;
    text-align: center;
}

.mat-tab-header{
    border-bottom: 0px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label{
    font-family: 'Poppins', sans-serif;
}

.mat-tab-label-active{
    font-weight: bold;
}


.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    text-align: left;
    margin-left: 2rem !important;
    text-transform: capitalize !important;
}

.location-display{
    text-align: left;
    margin-left: 32px !important;
    text-overflow: ellipsis;
}

.description{
    margin-top: 1rem;
}

.quantity{
    font-weight: bold;
    color: #4f9ef3;
}


.bottom-section{
    position: absolute;
    width: 100%;
    margin-top: 2rem;
}

.details{
    margin-left: 9px;
    margin-right: 9px;

    .description{
        font-size: 16px;
        line-height: 25px;
    }
}


.contact-button{
    width: 65%;
    margin: auto;
    --background-color: #0038ff !important;
    --font-family: 'Roboto', sans-serif;
    --color: white;
    --text-align: center;
    height: 3.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    --border-radius: 10px;
  }



  agm-map{
      height: 45vh;
  }

  ion-segment{
      margin-bottom: 1rem;
  }


/* Portrait: Smaller Iphones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .title{
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }

    .location{
        font-size: 12px !important;
    }

    ion-segment{
        margin-bottom: 0px !important;
    }

    .description{
        margin-top: 15px !important;
    }

    agm-map{
        height: 36vh !important;
    }
}

// Iphone 6, 7, 8
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    agm-map{
        height: 40vh !important;
    }
    
    .title{
        font-size: 24px !important;
        margin-bottom: 5px !important;
    }

    .location{
        font-size: 15px !important;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    agm-map{
        height: 49vh !important;
    }
}