
<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" [hidden]="!isOwner">
      <ion-button (click)="presentActionSheet()"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<div class="main">
  <h1 class="title">{{post.title | uppercase}}</h1>
  <ion-skeleton-text animated [hidden]="post.title != ''" style="height: 3vh;" class="skeleton"></ion-skeleton-text>
  <h3 class="location">{{displayLocation}}</h3>
  <ion-skeleton-text animated [hidden]="displayLocation != ''" style="height: 3vh; margin-bottom: 2rem;" class="skeleton"></ion-skeleton-text>
  <!-- TODO: skeleton for on loading -->
  <ion-slides pager>
    <ion-slide *ngFor="let image of post.images">
      <img src={{image}} alt="Post Image" class="post-image"/>
    </ion-slide>
  </ion-slides>
  <ion-skeleton-text animated [hidden]="post.images != []" class="skeleton" style="height: 14rem; margin-bottom: 2rem;"></ion-skeleton-text>
  <ion-button class="contact-button" (click)="contactBuisness()">Contact Supplier</ion-button>
  <!-- TODO: add phone number as optional field -->
  <ion-segment value="deals" [(ngModel)]="selectedIndex">
    <ion-segment-button value="description">
      <ion-label>DESCRIPTION</ion-label>
    </ion-segment-button>
    <ion-segment-button value="location">
      <ion-label>LOCATION</ion-label>
    </ion-segment-button>
  </ion-segment>

 
      <div class="details" [hidden]="selectedIndex != 'description'">
        <p class="description">{{post.description}}</p>
        <ion-skeleton-text animated [hidden]="post.description != ''" class="skeleton" style="margin-bottom: 5px;"></ion-skeleton-text>
        <ion-skeleton-text animated [hidden]="post.description != ''" class="skeleton" style="margin-bottom: 5px;"></ion-skeleton-text>
        <ion-skeleton-text animated [hidden]="post.description != ''" class="skeleton" style="margin-bottom: 5px;"></ion-skeleton-text>
        <ion-skeleton-text animated [hidden]="post.description != ''" class="skeleton" style="margin-bottom: 5px;"></ion-skeleton-text>
        <ion-skeleton-text animated [hidden]="post.description != ''" class="skeleton" style="margin-bottom: 5px;"></ion-skeleton-text>
      </div>
      
    
      <div class="locationMap" [hidden]="selectedIndex != 'location'">
        <agm-map [zoom]="13" [latitude]="post.userProfile.location.latitude" [longitude]="post.userProfile.location.longitude">
          <agm-marker [latitude]="post.userProfile.location.latitude"
                  [longitude]="post.userProfile.location.longitude"></agm-marker>
        </agm-map>
      </div>
     
  <div class="bottom-section" [hidden]="selectedTabIndex == 1">
    <ion-button class="contact-button" *ngIf="!isOwner">Contact Supplier</ion-button>
  </div>

</div>