<ion-content [fullscreen]="true">
  <img src="../../../assets/images/restaurant.jpeg" alt="Foodbank Image" class="home-image"/>
  <div id="container">
    <br />
    <h1 class="home-title">DealsForMeals</h1>
    <p class="context">Find and contribute deals at your local eateries.</p>
    <br />
    <ion-button expand="block" class="sign-in-button" (click)="navigate('login')" routerDirection="forward">Log In</ion-button>
    <p class="description">Don't have an account? <a (click)="navigate('signup')" routerDirection="forward">Sign Up.</a></p>
  </div>
</ion-content>
