

:host {
  .background-image {
    --background: url("../../../../assets/images/food-image.jpeg") 0 0/100% 100% no-repeat ;
  }
}

.entire-page{
  background-color: rgb(255 255 255 / 77%);
  color: black;
  width: 90%;
  height: 73vh;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  border: 5px solid white;
  border-radius: 10px;

  .logo-image{
    width: 12rem;
    margin-top: 2rem;
  }
}

#container {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  color: #483e3ede;
  margin-top: 1.5rem;
  line-height: 2rem;
}

#container a {
  text-decoration: none;
}

.home-image{
  height: 45vh;
  width: 100%;
}

.home-title{
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
}

.sign-in-button{
  width: 90%;
  margin: auto;
  --background: #666A86 !important;
  --font-family: 'Roboto', sans-serif;
  --color: white;
  --text-align: center;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  --border-radius: 20px;
  margin-bottom: 1.5rem;
}

.context{
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}


agm-map {
  height: 300px;
}