<ion-content [fullscreen]="true" class="background-image">
  <div class="entire-page">  
    <div id="container">
      <img class="logo-image" src="../../../../assets/images/dealsformealslogo.png"/>
      <h1 class="home-title">DealsForMeals</h1>
      <p class="context">Find and contribute deals at your local eateries.</p>
      <br />
      <ion-button expand="block" class="sign-in-button" (click)="navigate('login')" routerDirection="forward">Log In</ion-button>
      <ion-button expand="block" class="sign-in-button" (click)="navigate('signup')" routerDirection="forward">Sign Up</ion-button>
    </div>
  </div>
  
</ion-content>
